<div class="container">
  <label class="form-label">Nome </label>
  <input class="form-control" name="nome" id="nome" [(ngModel)]="funcionario.nome">
  <label class="form-label">CPF</label>
  <input class="form-control" name="cpf"id="cpf" [(ngModel)]="funcionario.cpf">
  <label class="form-label">Departamento</label>
  <select class="form-control" [(ngModel)]="departamento">
    <option *ngFor="let departamento of departamentos" [value]="departamento">{{departamento.nome}}</option>
  </select>
  <button type="button" class="btn btn-secondary" (click)="editar()">Editar</button>
</div>

